*.pyc
.idea/*
temporary
!.idea/dictionaries
.idea/dictionaries/*
!.idea/dictionaries/user.xml
__pycache__/
tmp/*
tmp2/*
data/*
data*
output/*
.mypy_cache
cache
node_modules/*
.ipynb_checkpoints
benchmark/pima_indians_diabetes.csv
fsfc/

.RData

.Rhistory
