[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.8"

[packages]
websockets = "*"
pandas = "*"
pyramda = "*"
psutil = "*"
toolz = "*"
imblearn = "*"
portalocker = "*"
inflection = "*"
aioprocessing = "*"
frozendict = "*"
termcolor = "*"
tabulate = "*"
rpy2 = "*"
statsmodels = "*"
matplotlib = "*"
functional-pipeline = "*"
typing-extensions = "*"
qgrid = "*"
cache-to-disk = "*"
sklearn = "*"
attr = "*"
PyALE = "*"
six = "*"
IPython = "*"
ipywidgets = "*"
hyperopt = "*"
objsize = "*"
xgboost = "*"

[dev-packages]
jupyter-contrib-nbextensions = "*"
jupyter-nbextensions-configurator = "*"
hide-code = "*"
ipython-autotime = "*"
pylint = "*"
jupyter = "*"
notebook = "*"
yapf = "*"
mypy = "*"
pyinstaller = "*"
watchdog = "*"
jupyterlab = "*"
nbdev = "*"
qgrid = "*"
pytest = "*"
