[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.9"

[packages]
websockets = "*"
pandas = "*"
pyramda = "*"
psutil = "*"
toolz = "*"
imblearn = "*"
portalocker = "*"
inflection = "*"
aioprocessing = "*"
joblib = "*"
xgboost = "*"
frozendict = "*"
termcolor = "*"
tabulate = "*"
rpy2 = "*"
statsmodels = "*"
hyperopt = "*"
scipy = "*"
matplotlib = "*"
functional-pipeline = "*"
numpy = "*"
typing-extensions = "*"
PyALE = "*"
qgrid = "*"
minepy = "*"
swifter = "*"
category-encoders = "*"
miceforest = "*"
memoization = "*"
sklearn = "*"
filelock = "*"
IPython = "*"
ipywidgets = "*"
six = "*"
attr = "*"
scikit-survival = "*"
jupyter = "*"
pyale = "*"
probatus = "*"
urllib3 = ">=1.26.5"

[dev-packages]
pre-commit = "*"
jupyter-contrib-nbextensions = "*"
jupyter_nbextensions_configurator = "*"
ipython-autotime = "*"
pylint = "*"
jupyter = "*"
notebook = "*"
yapf = "*"
mypy = "*"
pyinstaller = "*"
watchdog = "*"
jupyterlab = "*"
nbdev = "*"
qgrid = "*"
pytest = "*"
livereload = "*"
